{% extends "layout.html" %}

{% block body %}
<img src="static/images/dog.jpg" class="img-fluid scaling">
<h3><center>About our services</center></3>
<h4>Grooming</h4>
<p>Every pet needs grooming once in a while. You don't want them to get too much hair because they might develop skin disease and it could be uncomfortable for them to move.</p>

<h4>Health Checkup</h4>
<p>It's always wise to get our pet health checked annually so they can live a long healthy life with us. Early detection is the best strategy for curing illness.</p>

<h4>Vaccination</h4>
<p>Vaccinate is one of many ways to protect you and your pet from disease, especially rabbies and contagious diseases.</p>
{% endblock %}