{% extends "layout.html" %}

{% block main %}

<div class="container">
    <h1 class="mt-5">Add more cash to your account</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endwith %}
    <form action="/cash" method="POST">
            <div class="mb-3">
                <label for="cash" class="form-label">Specify amount:</label>
                <input type="number" class="form-control" id="cash" name="cash" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

{% endblock %}