{% extends "layout.html" %}

{% block main %}
<h1>Edit appointment</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}


  {% for order in order %}
<form action="/edit/{{ order.id }}" method="post" enctype="multipart/form-data">
  
    <div class="mb-3">
        <label for="petname" class="form-label">Pet name</label>
        <input id="petname" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petname" value="{{ order.name }}" type="text">
    </div>
    <div class="mb-3">
        <label for="petage" class="form-label">Pet age</label>
        <input id="petage" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petage" value="{{ order.age }}" type="text">
    </div>
    
    <label for="service">Service:</label>
   
    <h5 id="service" name="service">
            <p value="{{ order.service }}">{{ order.service }}</p>
    </h5>
    <p>Price: {{ order.cash_spent | usd }}</p>

    <label for="day">Choose a date:</label>

    <select id="day" name="day">
        <option value="choose" selected disabled>Select a day</option>
        <!-- Get the service name -->
        {% for day in weekday %}
            {% if day.day != order.weekday %}
                <option value="{{ day.day }}">{{ day.day }}</option>
            {% else %}
                <option value="{{ day.day }}" selected>{{ order.weekday }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="day">Choose a time:</label>

    <select id="hour" name="hour">
        <option value="choose" selected disabled>Select a time</option>
        <!-- Get the service name -->
        {% for hour in hour %}
            {% if hour.hour != order.hour %}
                <option value="{{ hour.hour }}">{{ hour.hour }}</option>
            {% else %}
                <option value="{{ order.hour }}" selected>{{ order.hour }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <input type="hidden" name="orderID" value="{{ order.id }}">
    <h5>Image: (Optional)</h5>
    <input type="file" name="file" value="{{ order.image_path }}">
    <br>
    {% if order.image_path %}
        <img src="{{ url_for('static', filename=order.image_path) }}" alt="Image" width="30%" height="30%">
    {% endif %}
    <button class="btn btn-primary" type="submit">Edit</button>
</form>
<br>
<br>
{% endfor %}
{% endblock %}