{% extends "layout.html" %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Pet name</th>
            <th>User ID</th>
            <th>Service</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>

            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.user_id }}</td>
            <td>{{ order.service }}</td>
            {% if order.image_path %}
            <td><div class="image-modal-trigger" data-imgsrc="{{ url_for('static', filename=order.image_path) }}"><img src="{{ url_for('static', filename=order.image_path) }}" alt="Image" width="50" height="50"></div></td>
            <div id="modal" style="display: none;">
                <img id="modal-image" src="{{ url_for('static', filename=order.image_path) }}" alt="Modal Image">
                <button onclick="$('#modal').hide();">Close</button>
            </div>
            
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
</table>
{% endblock %}