{% extends "layout.html" %}

{% block main %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Order ID</th>
            <th>Pet name</th>
            <th>Service</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.user_id }}</td>
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.service }}</td>
            <!-- Create a cell & modal to display image-->
            <!-- If the image path exists in order-->
            <td>
                {% if order.image_path %}
                    <!-- Display the image -->
                    <div class="image-modal-trigger" data-imgsrc="{{ url_for('static', filename=order.image_path) }}"><img src="{{ url_for('static', filename=order.image_path) }}" alt="Image" width="50" height="50"></div>
                    <!-- Display the modal for the image -->
                    <div id="modal" style="display: none;">
                        <img id="modal-image" src="{{ url_for('static', filename=order.image_path) }}" alt="Modal Image">
                        <button onclick="$('#modal').hide();">Close</button>
                    </div>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('edit', order_id=order.id) }}" class="btn btn-primary">Edit appointment</a>
                <form action="/cancel" method="post">
                    <input type="hidden" name="cancel" value="{{ order.id }}">
                    <input type="hidden" name="service" value="{{ order.service }}">
                    <button type="submit">Cancel appointment</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
</table>
{% endblock %}