{% extends "layout.html" %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Service</th>
            <th>Pet name</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>

            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.user_id }}</td>
            <td><img src="{{ url_for('static', filename=order.static/images/user_img/cat.jpg) }}" alt="Image"></td>
            <td>{{ order.id }}</td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
</table>

{% endblock %}