{% extends "layout.html" %}

{% block main %}
<h1>Make an appointment</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<form action="/order" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="petname" class="form-label">Pet name</label>
        <input id="petname" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petname" type="text">
    </div>
    <div class="mb-3">
        <label for="petage" class="form-label">Pet age</label>
        <input id="petage" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petage" type="text">
    </div>
    <label for="service">Choose a service:</label>
   
    <select id="service" name="service">
        <option value="choose" selected disabled>Select a service</option>
        <!-- Get the service name -->
        {% for ser in service %}
            <option value="{{ ser.name }}" data-price="{{ ser.price | usd }}">{{ ser.name }}</option>
        {% endfor %}
    </select>
    <p id="price"></p>
    <input type="hidden" id="hiddenPrice" name="price">


    <label for="day">Choose a date:</label>

    <select id="day" name="day">
        <option value="choose" selected disabled>Select a day</option>
        <!-- Get the service name -->
        {% for day in weekday %}
            <option value="{{ day.day }}">{{ day.day }}</option>
        {% endfor %}
    </select>

    <label for="day">Choose a time:</label>

    <select id="hour" name="hour">
        <option value="choose" selected disabled>Select a time</option>
        <!-- Get the service name -->
        {% for hour in hour %}
            <option value="{{ hour.hour }}">{{ hour.hour }}</option>
        {% endfor %}
    </select>
    <h5>Image: (Optional)</h5>
    <input type="file" name="file">
    <button class="btn btn-primary" type="submit">Book</button>
</form>
{% endblock %}