{% extends "layout.html" %}

{% block main %}
<h1>Make an appointment</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<form action="/order" method="post">
    <div class="mb-3">
        <label for="petname" class="form-label">Pet name</label>
        <input id="petname" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petname" type="text">
    </div>
    <div class="mb-3">
        <label for="petage" class="form-label">Pet age</label>
        <input id="petage" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="petage" type="text">
    </div>
    <label for="service">Choose a service:</label>
   
    <select name="service">
        <option value="choose" selected>Select a service</option>
        {% for ser in service %}
        <option value="{{ ser }}">{{ ser.name }}</option>
        <p>Price: {{ ser.price | usd }}</p>
    </select>
        <p>Price: {{ ser.price | usd }}</p>
    {% endfor %}
    <h5>Image: (Optional)</h5>
    <input type="file" name="file">
    <button class="btn btn-primary" type="submit">Book</button>
</form>
{% endblock %}