* {
    font-family: 'proxima-nova', sans-serif;
}

.scaling {
    height: auto;
    width: 100%;
    filter: brightness(70%);
    filter: drop-shadow(30%)
}

body {
    position: relative;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.navbar-alt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFC0CB;
    z-index: 1;
}

.navbar-brand {
    color: rgb(255, 189, 189); 
    font-size: 50px;
    font-weight: bold;  
    margin-top: 0;
}

.navbar-brand-alt {
    color: black; 
    font-size: 50px;
    font-weight: bold;  
    margin-top: 0;
}
.navbar-nav {
    margin-left: 300px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(255, 189, 189); 
    text-shadow: 2px 2px 4px rgba(150, 111, 51, 0.5);
}

.nav-link-alt {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: black; 
    text-shadow: 2px 2px 4px rgba(150, 111, 51, 0.5);
}

.scrolled .nav-link  {
    color: black;
}

.scrolled .navbar-brand {
    color: black;
}

#cation {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #FEFBDD;
    word-wrap: break-word;
    width: auto;
}

#cation2 {
    position: absolute;
    top: 400px;
    left: 100px;
}


#cat2 {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 200px;
    height: 500px;
    width: auto;
}


#description {
    padding: 200px;
    word-wrap: break-word;
}


.nav-link:hover, .navbar-brand:hover {
    color: lightgray; 
    text-decoration: none;
}

#login {
    margin-top: 60px;
    border-radius: 15px 15px 15px 15px;
    border-width: 5px;
    background: rgb(255, 189, 189);
    padding: 50px;
}

main {
    margin-top: 70px;
}

footer {
    background-color: lightgray;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
}
