* {
    font-family: 'proxima-nova', sans-serif;
}

.scaling {
    height: auto;
    width: 100%;
    filter: brightness(70%);
    filter: drop-shadow(30%);
    position: relative;
}

body {
    position: relative;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.navbar-alt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFC0CB;
    z-index: 1;
}

.navbar-brand {
    color: rgb(255, 189, 189); 
    font-size: 50px;
    font-weight: bold;  
    margin-top: 0;
}

.navbar-brand-alt {
    color: black; 
    font-size: 50px;
    font-weight: bold;  
    margin-top: 0;
}
.navbar-nav {
    margin-left: 350px;
}

.nav-link {
    margin-left: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: rgb(255, 189, 189); 
    text-shadow: 2px 2px 4px rgba(150, 111, 51, 0.5);
}

.nav-link-alt {
    margin-left: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: black; 
    text-shadow: 2px 2px 4px rgba(150, 111, 51, 0.5);
}


.scrolled .nav-link  {
    color: black;
}

.scrolled .navbar-brand {
    color: black;
}

#cation {
    position: absolute;
    bottom: 250px;
    left: 100px;
    color: #FEFBDD;
}

#cation2 {
    position: absolute;
    top: 400px;
    left: 100px;
}


#cat2 {
    height: 600px;
    width: auto;
}


#description {
    padding: 100px;
    word-wrap: break-word;
}


.nav-link:hover, .navbar-brand:hover, .credential:hover {
    color: #ffffe0; 
    text-decoration: underline;
}

.container-fluid {
    position: relative;
}

main {
    margin-top: 70px;
}

footer {
    background-color: #eeeeee;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
}


.alert-success {
    color: green;
    text-decoration: none; 
    list-style-type: none;
    margin-right: 10px;
}
  
.alert-error {
    color: red;
    text-decoration: none; 
    list-style-type: none;
    margin-right: 10px;
}
